.Servers-section {
    width: 400px;
    border-right: 1px solid #ccc;
    height: calc(100vh - 82.2px);
 
}
.server-title {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px;
}
.server-list {
    list-style: none;
    margin: 10px 0;
  
}
.server-item {
    display: block;
}
.server-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    
    

}
.server-link:hover {
    background-color: #363636;
}