* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color:#9bddff;
}


.app-entry {
  background-color: #484848;
}
.col-full,.col-1_3,.col-quarter,.col-half,.col-3_4 {
  padding: 15px;
}
.col-quarter {
  width: 25%;


}
.col-1_3 {
  width: calc(100% / 3);
}
.col-half {
width: 50%;
}
.col-3_4 {
  width: 75%;
}
.col-full,img {
  width: 100%;
}




.m-100 {
  margin: 100px 0;
}

.container {
  width: 80%;
  margin: auto;
  
}
.row {
  display: flex;
flex-wrap: wrap;
margin:60px 0;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding:15px 0px 15px 15px;
}
.padding-0 {
  padding:15px 0;
}


@media screen and (max-width:991px) {
  .container {
    width: 90%;
  }
  .col-1_3,.col-quarter {
    width: 50%;
  }
  .col-half {
    width: 100%;
  }
  .order-1 {
    order:1;
  
  }
  .order-2 {
    order:2;
  }
  .p-0 {
    padding: 15px 0;
    
  }
  .col-3_4 {
    width: 50%;
  }
}
@media screen and (max-width:768px) {
  .col-1_3,.col-quarter,.col-half,.col-3_4 {
    width: 100%;

  }
  .container {
    width: 95%;
  }


}