.contact-title {
    font-weight: 200;
    font-size: clamp(2rem, 5vw, 50px);
   
}
.contact-paragraph {
    font-size: 14px;
    font-weight: 200;
}
.contact-text {
width: 100%;
border: 1px solid #708090 ;
background-color: #f9f9f9;
padding: 7px;
outline: none;
border-radius: 3px;




}
.contact-textarea {
    
    resize: none;
}
.submit-contact-form  {
    padding: 7px;
    color: #fff;
    background-color: #17B169;
    border: 0;
    border-radius: 3px;
    width: 100%;
    margin-top: 15px;
    transition: 0.4s;
    cursor: pointer;
    
}
.submit-contact-form:hover {
    opacity: 0.8;
}
.contact-card {
    width: 100%;
    background-color: #6CB4EE;
    position: relative;
}
.contact-card-type-icon {
    width: 65px;
    height: 65px;
    background-color: #191970;
    margin: auto;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    top:0;
    left:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:#fff;
}

.contact-card-body {
    padding: 45px;
   
}
.contact-card-paragraph {
    color:#324ab2; 
    margin-top: 10px;
    text-align: center;
    font-size: 14px;

}
.contact-card-title {
    text-align: center;
    color: #383838;
}
@media screen and (max-width:991px) {
    #contactForm .col-half,#contactForm .col-full
 {
padding: 15px;
 }    
}